body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section .content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}

section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #000814,#003566);
    border-radius: 0 0 70% 70%/0 0 100% 100%;
    transform: scaleX(1.5);
}

@media (max-width: 900px) {
    section {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #000814,#003566);
    }
}


#container_1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    border-radius: 20px;
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

.heading-primary {
    color: #fff;
    font-family: 'Lato', 'sans-serif';
    margin-top: 10px;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    text-align: center;
    animation-name: moveInLeft;
    animation-duration: 2s;
}

.heading-primary-sub {
    display: block;
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: -25px;
    animation-name: moveInRight;
    animation-duration: 2s;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#generator {
    background-color: #ffffff;
    height: 80px;
    width: 45em;
    border-radius: 13px;
    margin-bottom: 20px;
    box-shadow: 5px 10px 5px #474747;
}

#customizer {
    background-color: #ffffff;
    height: 150px;
    width: 40em;
    border-radius: 13px;
    margin-bottom: 20px;
}

#copy_pw {
    border-radius: 13px;
    margin-top: 5px;
    width: 15em;
}

.pw {
    height: 40px;
    position: relative;
    top: 15px;
    font-size: 30px;
    right: 3em;
}

#pwInput {
    border-width:0px;
    border:none;
    outline:none;
}

#arrow {
    height: 40px;
    font-size: 30px;
    color: #808080;
}

.btn_arrow {
    height: 40px;
    position: relative;
    font-size: 30px;
    color: #808080;
    left: 10.5em;
    bottom: 0.9em;
    border: none;
    background: none;
}

.strength {
    position: absolute;
    left: 36.5em;
    top: 25px;
    height: 32.5px;
    width: 70px;
    background-color: #00c40e;
}

.form-range {
    width: 30em;
    margin-top: 20px;
}

.form-label {
    margin-right: 10px;
    position: relative;
    bottom: 3px;
}

.length {
    width: 70%;
    margin-top: 20px;
}

.number_pw {
    height: 30px;
    appearance: none;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    border: 1px solid #c8c8c8;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #00c40e;
}


input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.option {
    position: relative;
    bottom: 2px;
    right: 3px;
    margin-left: 30px;
}

.switcher_list {
    margin-top: 2em;
    position: absolute;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px)
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px)
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px)
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}