<!DOCTYPE html>

<head>
    <title>Password Generator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/password_generator.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #e63946;">

        <a class="navbar-brand" href="#">Password Generator</a>
        <form class="form-inline ml-auto">
            <div class="navbar-nav">
                <!--                <a class="nav-link ml-3" style="color: white" href="#">Sign In <svg xmlns="http://www.w3.org/2000/svg"-->
                <!--                        width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">-->
                <!--                        <path-->
                <!--                            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />-->
                <!--                    </svg>-->
                <!--                </a>-->
            </div>
        </form>
    </nav>

    <section>
        <div class="content">
        <div class="text-box">
            <h1 class="heading-primary">
                <span class="heading-primary-main">NEED A PASSWORD?</span>
                <span class="heading-primary-sub">GENERATE PASSWORD BLABLA BE SECURE</span>
            </h1>

            <div class="container" style="background-color: #edf6f9; height: 365px; width: 800px;" id="container_1">
                <form action="#">
                    <div class="row align-items-center ">
                        <div class="col align-self-center text-center">
                            <div class="container shadow bg-body" id="generator">
                                <div class="pw" id='pw'>
                                    <input type="text" id="pwInput" maxlength="50" size="30" value="password">
                                </div>
<!--                                <div class="strength">
                                </div> -->
                                <div>
                                    <button class="btn_arrow" type="button">
                                        <svg id="arrow" xmlns="http://www.w3.org/2000/svg" width="35" height="35"
                                            fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                            <path
                                                d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col align-self-center text-center">
                            <div class="container shadow bg-body" id="customizer">
                                <div class="range_pw">
                                    <label class="length-label">Length</label>
                                    <input type="range" class="length" min="1" max="50" id="howLongRange" value="12">
                                    <input value="12" class="number_pw" step="1" type="number" min="0" max="50" id="howLongInt">
                                </div>
                                <div class= "switcher_list">
                                    <label class="option">Uppercase</label>
                                    <label class="switch">
                                        <input type="checkbox" id="Uppercase" checked>
                                        <span class="slider round"></span>
                                    </label>
                                    <label class="option">Lowercase</label>
                                    <label class="switch">
                                        <input type="checkbox" id="Lowercase" checked>
                                        <span class="slider round"></span>
                                    </label>
                                    <label class="option">Numbers</label>
                                    <label class="switch">
                                        <input type="checkbox" id="checkNumbers" checked>
                                        <span class="slider round"></span>
                                    </label>
                                    <label class="option">Symbols</label>
                                    <label class="switch">
                                        <input type="checkbox" id="checkSymbols" checked>
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col align-self-center text-center gap-2">
                            <button type="button" class="btn btn-danger btn-lg shadow-sm bg-body" id="copyPw">
                                Copy Password
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>

    <script src="../static/js/password_generator.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

</body>

</html>
